.roleList {
    height: 100%;
    width: 100%;
}

.menuContainer {
    overflow-y: auto;
    /* 内容超出时出现滚动条 */
    overflow-x: hidden;
    /* 禁止横向滚动 */
}

.menuContainer::-webkit-scrollbar {
    width: 6px;
}

.menuContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.menuContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menuContainer::-webkit-scrollbar-track {
    background: transparent;
}

.operate {
    width: 100px;
    display: flex;
    justify-content: space-around;
}